.intro {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-32);
  align-items: flex-start;

  > :last-child {
    flex: 1 1 calc(var(--spacer-96) * 4);
  }
}

.headline {
  font-size: var(--font-size-2);
  line-height: var(--line-height-heading);
  color: var(--color-text-muted);
}
