.meta {
  color: var(--color-text-muted);
}

.highlights,
.sites {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-8);
  padding-inline-start: var(--spacer-24);
  margin: 0;
}

@media print {
  .highlights,
  .sites {
    padding-inline-start: var(--spacer-96);
  }
}
