.summary {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-8);
  max-width: var(--size-measure);
  padding-inline-start: var(--spacer-16);
  border-inline-start: var(--spacer-4) solid var(--color-border-decorative);

  > * {
    margin: 0;
  }
}

.label {
  font-weight: var(--font-weight-emphasis);
  letter-spacing: var(--letter-spacing-emphasis);
}
