.skills {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-16);
  margin: 0;
}

.skillGroup > * {
  margin: 0;
}

.term {
  font-weight: var(--font-weight-emphasis);
  letter-spacing: var(--letter-spacing-emphasis);
}

.qualificationTitle {
  font-weight: var(--font-weight-emphasis);
  letter-spacing: var(--letter-spacing-emphasis);
}

.detail {
  color: var(--color-text-muted);
}

@media print {
  :global(:root[data-print-layout='compact']) .skillGroup > * {
    display: inline;
  }

  :global(:root[data-print-layout='compact']) .term::after {
    content: ': ';
  }
}
