.header {
  border-block-end: var(--border-width) solid var(--color-border-decorative);
  container: site-header / inline-size;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-16);
  align-items: center;
  padding-block: var(--spacer-16);
}

.siteName {
  display: inline-flex;
  align-items: center;
  min-height: var(--size-target-min);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
  color: var(--color-text);
  text-decoration-line: none;

  &:hover {
    color: var(--color-action-hover);
    text-decoration-line: underline;
  }
}

.subnav {
  display: none;
  background: var(--color-surface);
  border-block-start: var(--border-width) solid var(--color-border-decorative);
}

.subnavInner {
  display: flex;
  justify-content: flex-end;
  padding-block: var(--spacer-4);
}

/* Should match SiteNav.module.css */
@container site-header (width >= 62em) {
  .inner {
    flex-wrap: nowrap;
  }

  .subnav {
    display: block;
  }
}
