.notice {
  max-width: var(--size-measure);
  padding: var(--spacer-24);
  background: var(--color-bg);
  border: var(--border-width) solid currentcolor;
  border-inline-start-width: var(--spacer-8);
  border-radius: var(--radius-small);
}

.success {
  color: var(--color-success);
}

.error {
  color: var(--color-error);
}

.inner {
  display: flex;
  gap: var(--spacer-16);
  align-items: flex-start;
}

.icon {
  flex-shrink: 0;
  width: var(--spacer-32);
  height: var(--spacer-32);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-16);
  color: var(--color-text);
}

.content > * {
  margin: 0;
}

.title {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-emphasis);
  letter-spacing: var(--letter-spacing-emphasis);
}
